@import '../../../variables';

.container{
    height: 400px;
    .infoHeader{
         display:flex;
    }
    .infoTitle{
    }

    .Title{
        font-family: Roboto, sans-serif;
        font-size: 28px;
        line-height: 33px;
        font-weight: 600;
        color: $textColor;

    }
    .DateOfCreation{
        text-align: left;
        font-size: 16px;
        color: $additionText;
        margin-top: -20px;

    }

    .LeftSide{
        font-size: 16px;
        line-height: 21px;
        color:$additionText;
    }

    .RightSide{
        font-size: 11pt;
        line-height: 21px;
        color: $textColor;
        font-weight: 400;
    }

    tr{
        padding-top: 3px;
    }

    td {
        padding-top: 3px;
    }
    .editMode{
        height: 20px;
        width: 20px;
        padding-left: 17px;
        margin-top: 28px;
    }
    .ButtonContainer2{
        text-align: right;
        padding-right: 4%;
    .addButton2 {
        width: 161px;
        height: 47px;
        border: none;
         font: inherit;
        color: inherit;
        background-color: transparent;
        font-size: 14px;
        margin-left: auto;
        border-radius: 16px;

        color: #FFFFFF;
        background-color: $brandColor;
        border-radius: 16px;
    }
    .addButton2:hover{
        cursor: pointer;
        color: $brandColor;
        background-color: #FFFFFF;
        border-radius: 16px;
        border: 1px solid $brandColor;


    }
    
}
input{
    height: 20px;
    width: 300px;
    border-radius:5px;
    border: 0.5px solid rgb(92, 92, 92);
    transition: .3s border-color;
    padding-left: 5px;
    font-family: Roboto;
}
input::placeholder{
    color: $additionText
}
input:focus{
    outline:none;
    border: 2px solid #8CC547;
}
.Update{
    padding: 5px 10px;
    border: none;
    font: inherit;
    color: #FFFFFF;
    background-color: #8CC547;
    font-size: 15px;
    border-radius: 16px;
}
.Update:hover{
    cursor: pointer;
    color: $brandColor;
    background-color:  #FFFFFF;
    border: 1px solid $brandColor;
    border-radius: 16px;
}
.UpdateContainer{
    width: 605px;
    padding-top: 40px;
    display: flex;
    justify-content: flex-end;
}
}