@import '../../../variables';


    .Title{
        font-family: Roboto, sans-serif;
        font-size: 28px;
        line-height: 33px;
        font-weight: 600;
        color: $textColor;
        margin-left: -28px;

    }
    .DateOfCreation{
        text-align: left;
        font-size: 16px;
        color: $additionText;
    }

    .LeftSide{
        font-size: 16px;
        line-height: 21px;
        color:$additionText;
    }

    .RightSide{
        font-size: 11pt;
        line-height: 21px;
        color: $textColor;
        font-weight: 400;
    }

    tr{
        padding-top: 3px;
    }

    td {
        padding-top: 3px;
    }
    .editMode{
        position: absolute;
        top:5em;
        left:15em;
    }
    .ButtonContainer2{

    .addButton2 {
        height: 48px;
        width: 185px;
        border: none;
         font: inherit;
        color: inherit;
        background-color: transparent;
        font-size: 18px;
        margin-left: auto;
        border-radius: 16px;

        background-color: #FFFFFF;
        color: $brandColor;
        border-radius: 16px;
        border: 1px solid $brandColor
    }
    .addButton2:hover{
        cursor: pointer;
        background-color: $brandColor;
        color: #FFFFFF;
        border-radius: 16px;

    }
    
}