@import '../../../variables';

.container{
    height: 400px;
    .infoHeader{
         display:flex;
    }
    .Title{
        font-family: Roboto, sans-serif;
        font-size: 28px;
        line-height: 33px;
        font-weight: 600;
        color: $textColor;

    }
    .resetBtn {
        margin-left: -65px;
        background: none;
        width: 30px;
        outline: none;
        font-size: 11px;
        color: $additionText;
        border: none;
    }
    .Error{
        position: absolute;
        left: 5px;
        font-family: Roboto, sans-serif;
        font-size: 12pt;
        font-weight: 400;
        color: crimson;
        .ErrorImg{
            position: absolute;
            top:-1px;
            left: -20px;
            height: 20px;
        }
    }

    .DateOfCreation{
        text-align: left;
        font-size: 16px;
        color: $additionText;
        margin-top: -20px;

    }

    .LeftSide{
        font-size: 16px;
        line-height: 21px;
        color:$additionText;
    }

    .RightSide{
        font-size: 11pt;
        line-height: 21px;
        color: $textColor;
        font-weight: 400;
    }

    tr{
        padding-top: 3px;
    }

    td {
        padding-top: 3px;
    }
    .editMode, .download{
        width: 30px;
        margin-left: 15px;
        margin-top: 28px;
    }
    .PlanTitle{
        width: 25%;
    }
    .ButtonContainer2{
        text-align: right;
        padding-right: 4%;
    .addButton2 {
        width: 161px;
        height: 47px;
        border: none;
        font: inherit;
        font-size: 14px;
        margin-left: auto;
        border-radius: 16px;
        color: #FFFFFF;
        background-color: $brandColor;
    }
    .addButton2:hover{
        cursor: pointer;
        color: $brandColor;
        background-color: #FFFFFF;
        border-radius: 16px;
        border: 1px solid $brandColor;


    }
    
}
input{
    height: 20px;
    width: 300px;
    border-radius:5px;
    border: 0.5px solid rgb(92, 92, 92);
    transition: .3s border-color;
    padding-left: 5px;
    font-family: Roboto;
}
input::placeholder{
    color: $additionText
}
input:focus{
    outline:none;
    border: 2px solid #8CC547;
}
.Update{
    height: 35px;
    width: 100px;
    border: none;
    font: inherit;
    color: #FFFFFF;
    background-color: #8CC547;
    font-size: 15px;
    border-radius: 16px;
}
.Update:hover{
    cursor: pointer;
    color: $brandColor;
    background-color:  #FFFFFF;
    border: 1px solid $brandColor;
    border-radius: 16px;
}
.UpdateContainer{
    padding-top: 20px;
    padding-left:210px;

}
}