@import '../../../variables';

.Container{
    font-family: Roboto;
    font-size: 20px;
    color: $additionText;
    position: relative;
    top: 85px;

    h1{
        font-size: 28px;
        line-height: 33px;
        font-weight: 600;
        color: $textColor;
    }
    .ButtonContainer{
        position: absolute;
        top: -6px;
        right: 3%;
    .addButton {
        height: 48px;
        width: 185px;
        border: none;
         font: inherit;
        color: inherit;
        background-color: transparent;
        color: #FFFFFF;
        background-color: $brandColor;
        font-size: 18px;
        margin-left: auto;
        border-radius: 16px;
    }
    .addButton:hover{
        cursor: pointer;
        background-color: #FFFFFF;
        color: $brandColor;
        border-radius: 16px;
        border: 1px solid $brandColor
    }
}

    
}