@import '../../../variables';

.Container{
    font-family: Roboto;
    font-size: 20px;
    color: $additionText;
    position: relative;
    padding-bottom:50px;
    h1{
        font-size: 28px;
        line-height: 33px;
        font-weight: 600;
        color: $textColor;
    }
    .ButtonContainer{
        position: absolute;
        top: -6px;
        right: 3%;
    .addButton {
        height: 48px;
        width: 185px;
        border: 1px solid $brandColor;
         font: inherit;
        color: inherit;
        background-color: transparent;
        background-color: #FFFFFF;
        color: $brandColor;
        font-size: 18px;
        margin-left: auto;
        border-radius: 16px;
    }
    .addButton:hover{
        cursor: pointer;
        color: #FFFFFF;
        background-color: $brandColor;
        border-radius: 16px;
    }
}
.PaginationContainer{
    text-align: center;
    .Pagination{
        color: #8CC547;
        margin-right: 10px;
        font-size: 14pt;
        font-weight: 500;

    }
    .PaginationActive{
        color: #8CC547;
        margin-right: 10px;
        font-size: 14pt;
        font-weight: 900;
    }
    .Pagination:hover{
        cursor: pointer;
        opacity: 50%;
    }

    img {
        margin-right: 10px;
        width: 13px;
        height: 13px;
    }

}
    
}