@import '../../../../variables';

.ContainerBig{
    display: grid;
    grid-template-columns: 8% 66% 14% 4% 4% 4% ;
    grid-template-areas: 'C T date down E D';
    position: relative;
    width: 97%;
    height: 130px;
    background-color:white;
    border-radius: 15px;
    border: 1px solid #8CC547;
    margin-bottom: 20px;
    font-family: Roboto, sans-serif;

    
}
.Container{
    display: grid;
    grid-template-columns: 8% 66% 14% 4% 4% 4% ;
    grid-template-areas: 'C T date down E D';
    position: relative;
    width: 97%;
    height: 48px;
    background-color:white;
    border-radius: 15px;
    border: 1px solid #8CC547;
    margin-bottom: 20px;

  
    
}
.CircleFalse{
    grid-area: C;
    position: absolute;
    width: 35px; 
    height: 35px;
    background-color: white;
    border-radius: 50%;
    border: 1px solid #8CC547;
    top: 6px;
    left:6px;
}
.CircleTrue{
    grid-area: C;
    position: absolute;
    width: 35px; 
    height: 35px;
    background-color: #8CC547;
    border-radius: 50%;
    top: 6px;
    left:6px;
}
.Title{
    grid-area: T;
    position: absolute;
    font-size: 16px;
    line-height: 21px;
    font-weight: 600;
    color:$additionText;
    font-family: Roboto, sans-serif;
    font-size: 12pt;
    font-weight: 500;

    top:1px;
    height: 40px;
    width: 95%;
    border-bottom: 0.003px solid #c4cfb5;
    border-top: none;
    border-left: none;
    border-right: none;
}
.Title:focus{
    outline:none;
    border-bottom: 1px solid #8CC547;
}
.Date{
    grid-area: date;
    position: absolute;
    left: 0.5em;
    font-size: 14px;
    line-height: 18px;
    font-weight: 500;
    color: $additionText;
    font-family: Roboto, sans-serif;
    font-size: 10pt;
    top:1px;
    height: 40px;
    width: 80%;
    border-bottom: 0.003px solid #c4cfb5;
    border-top: none;
    border-left: none;
    border-right: none;
}
.Date:focus{
    outline:none;
    border-bottom: 1px solid #8CC547;
}
.Edit{
    grid-area: E;
    float: left;
    position: absolute;
    width: 20px; 
    height: 20px;
    top: 12px;
}
.Delete{
    grid-area: D;
    float: left;
    position: absolute;
    width: 20px; 
    height: 20px;
    top: 12px;
}
.downarrow{
    grid-area: down;
    position: absolute;
    width: 20px; 
    height: 20px;
    top: 12px;
}
.downarrowTransofm{
    grid-area: down;
    position: absolute;
    width: 20px; 
    height: 20px;
    top: 12px;
    transform: rotate(180deg);
}
.Description{
    position: absolute;
    top: 50px;
    left: 80px;
    width: 85%;
    height: 69px;
    background-color:white;
    border-radius: 15px;
    border: 0.003px solid #c4cfb5;
    color: $additionText;
    font-family: Roboto, sans-serif;
    font-size: 12pt;
}
.CheckMark{
    position: absolute;
    top: 20px;
    left: 102%;
    width: 30px; 
    height:30px;
}
.DescriptionText{
    position: absolute;
    width: 99%;
    height: 59px;
    background-color:white;
    border-radius: 15px;
    border: none;
    color: $additionText;
    font-family: Roboto, sans-serif;
    font-size: 12pt;
    font-weight: 500;
    resize: none;
    padding:5px;

}
.DescriptionText:focus{
    outline:none;
    border: 1px solid #8CC547;
    font-family: Roboto, sans-serif;
    width: 100%;
    height: 68px;
}

.CircleFalse:hover, .CircleTrue:hover, img:hover{
    opacity: 50%;
    cursor: pointer;
}

.Date1{
    grid-area: date;
    font-size: 14px;
    line-height: 18px;
    font-weight: 500;
    color: $additionText;
    font-family: Roboto, sans-serif;
    font-size: 10pt;
    top:1px;
    height: 40px;
    width: 80%;

}

.Title1{
    grid-area: T;
    position: absolute;
    font-size: 16px;
    line-height: 21px;
    font-weight: 500;
    color:$textColor;
    font-size: 12pt;

    height: 40px;
    width: 95%;

}
.ErrorBorder{
    border: 1px solid crimson;
    width: 100%;
    height: 68px;
}
.ErrorBorder1{
    border-bottom: 1px solid crimson;
}