@import '../../../variables';

.Container{
    position: relative;
    top: 7em;
    width:$fixedWidth*0.97;
    .InnerContainer{
        background-color: rgb(243, 249, 237);
        border-radius: 16px;
        font-size: 18px;
        color: $textColor;
        .TextBoxContainer{
            margin-top: 50px;
            height: 60px;
            .Input{
                width: 94%;
                height: 50px;
                border: 0.5px solid #8CC547;
                border-radius: 16px;
                padding-left: 60px;
                color: $textColor;
                font-weight: 600;
            }

            .Input::placeholder{
                color: $additionText;
                font-family: Roboto, sans-serif;
            }
            .Input:focus{
                outline:none;
                border: 2px solid #8CC547;
            }
            .SendButton{
                position:absolute;
                left: 1050px;
                bottom:20px;
            }
            .ErrorBorder{
                border: 1px solid crimson;
                width: 94%;
                height: 50px;
                border-radius: 16px;
                padding-left: 60px;
                color: $textColor;
                font-weight: 600;
            }
            .ErrorBorder:focus{
                outline: none;

            }
        }
        .Error{
            margin-top: -80px;
            margin-left: 60px;
              font-size: 12px;
              color: $textColor;  
        }
        .ErrorImg{
            height: 10px;
        }
    }
    .PaginationContainer{
        text-align: center;
        .Pagination{
            color: #8CC547;
            margin-right: 10px;
            font-size: 14pt;
            font-weight: 500;
    
        }
        .PaginationActive{
            color: #8CC547;
            margin-right: 10px;
            font-size: 14pt;
            font-weight: 900;
        }
        .Pagination:hover{
            cursor: pointer;
            opacity: 50%;
        }
    
        img {
            margin-right: 10px;
            width: 13px;
            height: 13px;
        }
    
    }

}