.container{
    height: 300%;
    width: 100%;
    position: absolute;
    left:0;
    top:0;
    background-color: #FFFFFF;
    opacity: 0.5;
}
.container img{
    animation: Preloader 1s;
    animation-iteration-count:infinite;
    height: 100%;
    width: 100%;
}

@keyframes Preloader {   
    0% {     
      opacity: 0.5;
    }  
    50% {
        opacity: 0.75;
    } 
    100% {
     opacity: 1;
     }
  }